
[diff]
  tool = p4merge
[difftool "p4merge"]
  cmd = /Applications/p4merge.app/Contents/Resources/launchp4merge "$LOCAL" "$BASE"
[merge]
  keepBackup = false
  tool = p4merge
[mergetool "p4merge"]
  cmd = /Applications/p4merge.app/Contents/Resources/launchp4merge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
  keepTemporaries = false
  trustExitCode = false
  keepBackup = false

[core]
 autocrlf = input
 safecrlf = false

[push]
 default = simple

[alias]
 l = log --color --graph --all --oneline --decorate
 s = status -sb
 d = difftool -y
