
# https://github.com/stockmind/dell-xps-9560-ubuntu-respin
# /etc/systemd/system/gpuoff.service
# sudo systemctl enable gpuoff.service

[Unit]
Description=Power-off gpu

[Service]
Type=oneshot
ExecStartPre=/bin/bash  -c "if [[ `prime-select query` == 'intel' ]]; then echo auto > /sys/bus/pci/devices/0000\:01\:00.0/power/control; fi"
ExecStart=/bin/bash     -c "if [[ `prime-select query` == 'intel' ]]; then echo on   > /sys/bus/pci/devices/0000\:01\:00.0/power/control; fi"
ExecStartPost=/bin/bash -c "if [[ `prime-select query` == 'intel' ]]; then echo auto > /sys/bus/pci/devices/0000\:01\:00.0/power/control; fi"

[Install]
WantedBy=default.target
