"*":
  editor:
    lineHeight: 1.1
    scrollPastEnd: true
    showIndentGuide: true
  "tree-view":
    hideIgnoredNames: true
  core:
    themes: [
      "atom-dark-ui"
      "monokai"
    ]
  whitespace:
    ensureSingleTrailingNewline: false
    ignoreWhitespaceOnCurrentLine: false
  aligner:
    ":-alignment": "left"
    ":-leftSpace": true
  "atom-beautify":
    js_brace_style: "end-expand"
  linter:
    showErrorTabLine: true
  minimap:
    plugins:
      linter: true
      "highlight-selected": true
  welcome:
    showOnStartup: false
