'.platform-linux atom-text-editor':
  'ctrl-d': 'editor:delete-line'
  'alt-up': 'editor:move-line-up'
  'alt-down': 'editor:move-line-down'

'.platform-darwin atom-text-editor':
  'cmd-d': 'editor:delete-line'
  'cmd-up': 'editor:move-line-up'     # with karabiner binding
  'cmd-down': 'editor:move-line-down' # with karabiner binding
