'.platform-linux atom-text-editor':
  'ctrl-d'      : 'editor:delete-line'
  'alt-up'      : 'editor:move-line-up'
  'alt-down'    : 'editor:move-line-down'
  'alt-shift-2' : 'pane:split-right'
  'ctrl-h'      : 'aligner:align'

'.platform-darwin atom-text-editor':
  'cmd-d'       : 'editor:delete-line'
  'cmd-up'      : 'editor:move-line-up'
  'cmd-down'    : 'editor:move-line-down'
  'cmd-shift-2' : 'pane:split-right'
  'cmd-h'       : 'aligner:align'
