
'.source.js':
  'Log Console':
    'prefix': 'l'
    'body': 'console.log($1);$2'

  'Arrow Func':
    'prefix': 'f'
    'body': '($1) => {$2}'

  'Promise':
    'prefix': 'p'
    'body': 'new Promise((resolve${1:, reject}) => {$2})'
